.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 20px;
    margin-right: auto;
}

.header--project {
    font-size: 12px;
    font-weight: 500;
}

.header--text {
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}