body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23272f;
  color: #46cdf6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #23272f;
  color: #46cdf6;
  margin: 5px;
  padding: 0.4em;
  border: none;
  border-radius: 4px;
  padding: 19px;
  line-height: 2px;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  transform: scale(0.98);
  box-shadow: 4px 4px 10px 2px rgba(255, 255, 255, 0.24);
}

button:active {
  transform: scale(0.96);
  box-shadow: 4px 4px 10px 2px rgba(255, 255, 255, 0.5);
}

label {
  background-color: #46cdf6;
  border-color: #23272f;
  border-radius: 4px solid;
  margin: 5px;
  appearance: none;
  border: none;
  outline: none;
  background: rgba(#23272f, 0.2);
  padding: 0.4em;
  color: #23272f;
  font-size: 16px;
  font-weight: 500;
}

input {
  border-color: #23272f;
  border-radius: 4px solid;
  margin: 5px;
  width: 200px;
  background-color: #46cdf6;
  appearance: none;
  border: none;
  outline: none;
  border: 0.1em solid #23272f;
  background: rgba(#23272f, 0.2);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  padding: 0.4em;
  color: #23272f;
  font-size: 16px;
  font-weight: 500;
}

input:hover {
  box-shadow: 4px 4px 10px 2px rgba(255, 255, 255, 0.24);
}

input:active {
  box-shadow: 4px 4px 10px 2px rgba(255, 255, 255, 0.3);
}

div {
  margin-bottom: 3px;
  border-radius: 5px;
}

li {
  list-style: none;
  font-size: 30px;
  font-weight: 500;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

h2 {
  font-weight: 500;
}

p {
  font-size: 30px;
  font-weight: 500;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

span {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: 1px;
}

header {
  margin: 20px;
  font-size: 40px;
}
.app-title {
  text-align: center;
  margin: 0;
}

.state-container {
  color: #23272f;
  text-align: center;
}

.sub-inner-container {
  background-color: #46cdf6;
  color: #23272f;
  padding: 10px 0px 10px 0px;
}

.sub-container {
  background-color: #46cdf6;
  color: #23272f;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.blinking-cursor {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.context-provider {
  display: grid;
  grid-template-columns: auto auto auto;
}

.component {
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  padding: 5px;
}

.counter-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
