@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  font-family: "Inter", sans-serif;
  /* height: 100vh; */
  font-size: 1rem;
  background-color: #fff7ed;
  color: #161616;
}

img {
  display: block;
  height: auto;
}

.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

header {
  background-color: #fff7ed;
  position: sticky;
  text-align: center;
  top: 0;
  height: 10%;
  display: flex;
  align-items: center;
  place-content: space-between;
  padding-inline: 20px;
}

.header-home a {
  text-transform: uppercase;
  color: #000;
}

.header-home a:hover {
  text-decoration: none;
}

.header-nav {
  text-align: right;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-nav a:hover,
.header-nav a:focus {
  text-decoration: underline;
  color: #161616;
}

.active-link {
  text-decoration: underline;
  color: #161616;
}

button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
}

.simple:hover,
.simple.selected {
  cursor: pointer;
  color: #ffead0;
  background-color: #e17654;
}

.rugged:hover,
.rugged.selected {
  cursor: pointer;
  color: #ffead0;
  background-color: #161616;
}

.luxury:hover,
.luxury.selected {
  cursor: pointer;
  color: #ffead0;
  background-color: #115e59;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #252525;
  color: #aaa;
  width: 100%;
  height: 10%;
  display: grid;
  place-content: center;
}

.page-outlet-container {
  padding: 25px;
  height: 80%;
}

.vans-container {
  height: 100%;
}

.vans-container nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vans-inner-container {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  gap: 20px;
}

.vans-inner-container a:hover,
.vans-container a:focus {
  text-decoration: none;
}

.van-card img {
  border-radius: 5px;
}

.van-card button {
  text-transform: capitalize;
}

.clear-filters,
.clear-filters:hover {
  text-decoration: underline;
}

a.go-back,
a.go-back:hover,
a.go-back:focus {
  text-decoration: underline;
  color: #4d4d4d;
}

.van-card figcaption {
  display: flex;
  justify-content: space-between;
}

.host-nav {
  display: flex;
  gap: 10px;
}

.host-vans-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.host-van-card {
  padding: 5px;
  background-color: #fff;
}

.host-van-card figure {
  display: flex;
  align-items: center;
}

.host-van-card img {
  float: left;
  margin-right: 20px;
}

.host-van-card h2 {
  color: #161616;
}

.host-van-info-container {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.host-van-info-figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.host-van-info-nav {
  display: flex;
  padding-inline: 20px;
  gap: 20px;
}

.host-van-details-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.host-van-details {
  font-size: 1.1rem;
}

.host-van-details .small-text {
  font-size: 0.9rem;
}
