@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  font-family: "Inter", sans-serif;
  height: 100vh;
  font-size: 1rem;
  background-color: #fff7ed;
  color: #161616;
}

img {
  display: block;
  height: auto;
}

.nowrap {
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
}

header {
  position: sticky;
  text-align: center;
  top: 0;
  height: 10%;
  display: flex;
  align-items: center;
  place-content: space-between;
  padding-inline: 20px;
}

.header-home a {
  text-transform: uppercase;
  color: #000;
}

.header-home a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #4d4d4d;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #161616;
}

.active-link {
  text-decoration: underline;
  color: #161616;
}

nav,
.header-nav {
  text-align: right;
  display: flex;
  gap: 10px;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #252525;
  color: #aaa;
  width: 100%;
  height: 10%;
  display: grid;
  place-content: center;
}

.page-outlet-container {
  padding: 25px;
  height: 80%;
  background-color: #fff7ed;
}

.page-outlet-container nav {
  height: 5%;
  padding: 2px 5px;
  margin: 20px 5px;
}

.page-outlet-container main {
  height: 95%;
  overflow-y: scroll;
  scrollbar-color: #ffead0;
}

button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #161616;
  border-radius: 2px;
  background-color: inherit;
  color: #161616;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
  border: 1px solid #bbb;
  color: #bbb;
}

.host-outlet-container {
  padding: 10px;
  background-color: #ffead0;
}

.host-vans-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

.host-van-info-container {
  display: flex;
  flex-flow: column wrap;
}

.host-van-card,
.host-van-info {
  padding: 10px;
  font-size: 0.8rem;
  background-color: #fff;
}

.host-van-card,
.host-van-info figure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.host-van-name {
  text-align: center;
}

.host-van-price {
  color: #4d4d4d;
  text-align: center;
}
