@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  color: white;
}

header,
footer {
  position: sticky;
  background-color: #111;
  text-align: center;
}

header {
  top: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  place-content: space-between;
  padding-inline: 2%;
}

nav {
  text-align: right;
  display: flex;
  gap: 10px;
}

footer {
  bottom: 0;
  height: 8vh;
  display: grid;
  place-content: center;
}

main {
  padding: 5%;
  height: 90vh;
  background-color: #222;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.active-link {
  text-decoration: underline;
  color: #bbb;
}
